* {
	box-sizing: border-box;
}
header{
	height: 70px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}

.header_icon {
	background: url('../images/icon.png') no-repeat;
	margin-left: 20px;
	width: 30px;
	height: 30px;
}
